@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #27272a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #150209;
    --foreground: #fafafa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, sans-serif;
}

a {
  @apply text-pink-600 hover:underline dark:text-pink-400;
}

input,
select {
  @apply rounded border border-zinc-800/40 bg-zinc-200/20 p-2 text-zinc-800 placeholder:text-zinc-600 focus:border-pink-600 focus:outline-none dark:border-zinc-200/30 dark:bg-zinc-950/40 dark:text-zinc-100 dark:placeholder:text-zinc-400 dark:focus:border-pink-400/80;
}

h1,
h2,
h3 {
  @apply font-semibold text-zinc-900 dark:text-zinc-100;
}

h1 {
  @apply text-[2.5rem] leading-[2.75rem];
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

p {
  @apply text-base leading-relaxed text-zinc-800 dark:text-zinc-200;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

code {
  @apply rounded bg-zinc-800 px-1 text-white;
}

pre {
  @apply rounded bg-zinc-800 p-4 text-white;
}

blockquote {
  @apply ml-4 border-l-4 border-zinc-800 pl-3 italic;
}

table {
  @apply w-full border-collapse;
}

th,
td {
  @apply border border-zinc-800 p-2;
}

th {
  @apply bg-zinc-800 text-white;
}

hr {
  @apply my-4 border-t border-zinc-300 dark:border-zinc-800;
}

/* img {
  @apply mx-auto;
} */
