@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #27272a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #150209;
    --foreground: #fafafa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, sans-serif;
}

a {
  @apply text-blue-500 hover:underline;
}

input {
  @apply rounded border border-gray-300 p-2 dark:bg-neutral-950;
}

select {
  @apply rounded border border-gray-300 p-2 dark:bg-neutral-950;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-xl font-medium;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

p {
  @apply py-1.5 text-base;
}

ul {
  @apply list-disc pl-4;
}

ol {
  @apply list-decimal pl-4;
}

code {
  @apply rounded bg-gray-800 px-1 text-white;
}

pre {
  @apply rounded bg-gray-800 p-4 text-white;
}

blockquote {
  @apply border-l-4 border-gray-800 pl-4 italic;
}

table {
  @apply w-full border-collapse;
}

th,
td {
  @apply border border-gray-800 p-2;
}

th {
  @apply bg-gray-800 text-white;
}

hr {
  @apply my-4 border-t border-gray-300 dark:border-gray-800;
}

/* img {
  @apply mx-auto;
} */

/* Style the TipTap edit placeholder */
.tiptap-editor .ProseMirror p.is-empty::before {
  @apply italic text-gray-500;
  content: attr(data-placeholder);
}

/* Hide placeholder when editor is focused */
.tiptap-editor.focused .ProseMirror p.is-empty::before {
  content: none;
}
